{{! BEGIN-SNIPPET dropdown.warning  }}
Original: onChange()
Modified: onChange(value [binded])

// Description:
//  The onChange event has been modify to include the bound value if you use the
//  map-value mapper helper. If you don't it will return the data-value string
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.string  }}
<UiDropdown class="selection" @selected={{this.gender}} @onChange={{fn (mut this.gender)}}>
  <div class="default text">
    Gender
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each this.genders as |gender|}}
      <div class="item" data-value={{gender.id}}>
        {{gender.text}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.value  }}
<UiDropdown
  class="selection"
  @selected={{this.selected_type}}
  @onChange={{fn (mut this.selected_type)}} as |execute mapper|
>
  <div class="default text">
    Types
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="">
      All Items
    </div>
    {{#each this.types as |type|}}
      <div class="item" data-value={{map-value mapper type}}>
        {{type}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.object  }}
<UiDropdown class="selection" @selected={{this.gender2}} @onChange={{fn (mut this.gender2)}} as |execute mapper|>
  <div class="default text">
    Gender
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each this.genders as |gender|}}
      <div class="item" data-value={{map-value mapper gender}}>
        {{gender.text}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.value.selections  }}
<UiDropdown
  class="search selection"
  @allowAdditions={{true}}
  @selected={{this.selected_type_addition}}
  @onChange={{fn (mut this.selected_type_addition)}} as |execute mapper|
>
  <div class="default text">
    Types
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="">
      All Items
    </div>
    {{#each this.types as |type|}}
      <div class="item" data-value={{map-value mapper type}}>
        {{type}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.multi.select  }}
<UiDropdown class="fluid multiple selection" @selected={{this.country}} @onChange={{fn (mut this.country)}}>
  <i class="dropdown icon"></i>
  <div class="default text">
    Select Country
  </div>
  <div class="menu">
    {{#each this.countries as |item|}}
      <div class="item" data-value={{item.iso2}}>
        <i class="{{item.iso2}} flag"></i>
        {{item.name}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}
{{! BEGIN-SNIPPET dropdown.multi.select.binded  }}
<UiDropdown
  class="fluid multiple selection"
  @selected={{this.country2}}
  @onChange={{fn (mut this.country2)}} as |execute mapper|
>
  <i class="dropdown icon"></i>
  <div class="default text">
    Select Country
  </div>
  <div class="menu">
    {{#each this.countries as |item|}}
      <div class="item" data-value={{map-value mapper item}}>
        <i class="{{item.iso2}} flag"></i>
        {{item.name}}
      </div>
    {{/each}}
  </div>
</UiDropdown>
{{! END-SNIPPET }}