<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Accordion
        <div class="sub header">
          An accordion allows users to toggle the display of sections of content
        </div>
      </h1>
      <div class="ui hidden divider"></div>
      <p>
        For additional documentation on how to configure this module, please refer to the
        <LinkTo @route="modules.index">
          Getting Started
        </LinkTo>
        section and Semantic UI's module specific external documentation links below.
      </p>
      <div class="ui four item stackable tabs menu">
        <a
          class="item"
          href="http://semantic-ui.com/modules/accordion.html"
          target="_blank"
        >
          Definition
        </a>
        <a
          class="item"
          href="http://semantic-ui.com/modules/accordion.html#/examples"
          target="_blank"
        >
          Examples
        </a>
        <a
          class="item"
          href="http://semantic-ui.com/modules/accordion.html#/usage"
          target="_blank"
        >
          Usage
        </a>
        <a
          class="item"
          href="http://semantic-ui.com/modules/accordion.html#/settings"
          target="_blank"
        >
          Settings
        </a>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <UiExample
    @header="Simple Example"
    @subHeader="Styled Accordion" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <p>
        test
      </p>
      <UiAccordion />
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="accordion.simple.hbs" />
  </UiExample>
  {{!-- <UiExample
    @header="Execute Example"
    @subHeader="Using the execute composable action" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <UiAccordion as |execute|>
        <div class="title">
          <i class="dropdown icon"></i>
          Semantic UI
        </div>
        <div class="content">
          Accordion Component
          <div class="ui basic segment">
            <div class="ui tiny header">
              Example using composable actions from within accordion
            </div>
            <div class="ui button">
              Close
            </div>
            <div class="ui button">
              Open two
            </div>
          </div>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Accordion Two
        </div>
        <div class="content">
          Content Two
        </div>
      </UiAccordion>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="accordion.execute.hbs" />
  </UiExample>
  <UiExample
    @header="Dynamic Example"
    @subHeader="Adding new sections" as |showing setCode code|
  >
    <UiHtml @showing={{showing}} @code={{code}}>
      <UiAccordion class="styled" as |execute|>
        <div class="title">
          Semantic UI
        </div>
        <div class="content">
          Accordion Component
        </div>
        <div class="title">
          Accordion Two
        </div>
        <div class="content">
          Content Two
        </div>
        {{#each sections as |section|}}
          <div class="title">
            Accordion Extra
            {{section}}
          </div>
          <div class="content">
            Content Extra
            {{section}}
          </div>
        {{/each}}
      </UiAccordion>
      <div class="ui basic segment">
        <div class="ui button" {{on "click" (fn this.change_sections 1)}}>
          Add Extra Section
        </div>
        <div
          class="ui button {{unless this.total_sections "disabled"}}"
          {{on "click" (fn this.change_sections -1)}}
        >
          Remove Extra Section
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="accordion.dynamic.hbs" />
  </UiExample> --}}
</div>