<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Dropdown
        <div class="sub header">
          A dropdown allows a user to select a value from a series of options
        </div>
      </h1>
      <div class="ui hidden divider"></div>
      <p>
        For additional documentation on how to configure this module, please refer to the
        <LinkTo @route="modules.index">
          Getting Started
        </LinkTo>
        section and Semantic UI's module specific external documentation links below.
      </p>
      <div class="ui four item stackable tabs menu">
        <a class="item" href="http://semantic-ui.com/modules/dropdown.html" target="_blank">
          Definition
        </a>
        <a class="item" href="http://semantic-ui.com/modules/dropdown.html#/examples" target="_blank">
          Examples
        </a>
        <a class="item" href="http://semantic-ui.com/modules/dropdown.html#/usage" target="_blank">
          Usage
        </a>
        <a class="item" href="http://semantic-ui.com/modules/dropdown.html#/settings" target="_blank">
          Settings
        </a>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <div class="ui yellow message">
    There are API module differences for checkbox.
  </div>
  <UiAnnotation @showing={{true}} @type="javascript" @snippet="dropdown.warning.hbs" />
  <div class="ui divider"></div>
  <div class="ui blue message">
    Dropdown allows value bindings, string bindings or mixed bindings.
    In the examples below you'll see the
    {{!-- \ {{map-value mapper}} --}}
    helper usage to
    accomplish this.
  </div>
  <div class="ui divider"></div>
  <UiExample
    @header="String Bound Dropdown Example"
    @subHeader="A dropdown can be used to select between choices in a form" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <UiDropdown class="selection" @selected={{this.gender}} @onChange={{fn (mut this.gender)}}>
            <div class="default text">
              Gender
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.genders as |gender|}}
                <div class="item" data-value={{gender.id}}>
                  {{gender.text}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Selected
              </label>
              <Input @value={{this.gender}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.string.hbs" />
  </UiExample>
  <UiExample
    @header="Value Bound Dropdown Example"
    @subHeader="Using the map-value helper and mapper action" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <UiDropdown
            class="selection"
            @selected={{this.selected_type}}
            @onChange={{fn (mut this.selected_type)}} as |execute mapper|
          >
            <div class="default text">
              Types
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="">
                All Items
              </div>
              {{#each this.types as |type|}}
                <div class="item" data-value={{map-value mapper type}}>
                  {{type}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Selected
              </label>
              <Input @value={{this.selected_type}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.value.hbs" />
  </UiExample>
  <UiExample
    @header="Object Bound Dropdown Example"
    @subHeader="Using the map-value helper and mapper action" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <UiDropdown
            class="selection"
            @selected={{this.gender2}}
            @onChange={{fn (mut this.gender2)}} as |execute mapper|
          >
            <div class="default text">
              Gender
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each this.genders as |gender|}}
                <div class="item" data-value={{map-value mapper gender}}>
                  {{gender.text}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Selected
              </label>
              <Input @value={{this.gender2.text}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.object.hbs" />
  </UiExample>
  <UiExample
    @header="Value Bound Allowing Selections and Search Dropdown Example"
    @subHeader="Type in the box to add it" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <UiDropdown
            class="search selection"
            @allowAdditions={{true}}
            @selected={{this.selected_type_addition}}
            @onChange={{fn (mut this.selected_type_addition)}} as |execute mapper|
          >
            <div class="default text">
              Types
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="">
                All Items
              </div>
              {{#each this.types as |type|}}
                <div class="item" data-value={{map-value mapper type}}>
                  {{type}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Selected
              </label>
              <Input @value={{this.selected_type_addition}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.value.selections.hbs" />
  </UiExample>
  <UiExample
    @header="Multi Select Bound Dropdown Example"
    @subHeader="A dropdown can be used to select between choices in a form" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <UiDropdown class="fluid multiple selection" @selected={{this.country}} @onChange={{fn (mut this.country)}}>
            <i class="dropdown icon"></i>
            <div class="default text">
              Select Country
            </div>
            <div class="menu">
              {{#each this.countries as |item|}}
                <div class="item" data-value={{item.iso2}}>
                  <i class="{{item.iso2}} flag"></i>
                  {{item.name}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Selected
              </label>
              <Input @value={{this.country}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.multi.select.hbs" />
  </UiExample>
  <UiExample
    @header="Multi Select Binded Dropdown Example"
    @subHeader="A dropdown can be used to select between choices in a form" as |showing|
  >
    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="eight wide column">
          <UiDropdown
            class="fluid multiple selection"
            @selected={{this.country2}}
            @onChange={{fn (mut this.country2)}} as |execute mapper|
          >
            <i class="dropdown icon"></i>
            <div class="default text">
              Select Country
            </div>
            <div class="menu">
              {{#each this.countries as |item|}}
                <div class="item" data-value={{map-value mapper item}}>
                  <i class="{{item.iso2}} flag"></i>
                  {{item.name}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <div class="eight wide column">
          <div class="ui form">
            <div class="ui inline field">
              <label>
                Total Selected (length)
              </label>
              <Input @value={{this.country2.length}} @readonly={{true}} />
            </div>
          </div>
        </div>
      </div>
    </UiHtml>
    <UiAnnotation @showing={{showing}} @snippet="dropdown.multi.select.binded.hbs" />
  </UiExample>
</div>