<div class="html {{if @showing "ui top attached segment"}}">
  <div id="content">
    {{yield}}
  </div>
  <div class="ui top attached label">
    Example
    <CopyButton
      @clipboardText={{@code}}
      @success={{this.copied}}
      @error={{this.copyError}}
    >
      <UiPopup
        class="copy link icon"
        @content={{this.copyMessage}}
        @variation="inverted"
      />
    </CopyButton>
  </div>
</div>